[Unit]
Description=uWSGI Service
After=syslog.target

[Service]
# set your user name
User=pi-srv
# set your group name
Group=pi-srv
# set path to env.conf
EnvironmentFile=/home/pi-srv/app/RaspberryServer/deploy/conf/pi-srv/env.conf
ExecStart=/bin/sh -c '\
    set -o allexport; . ${RS_PRJ_CONF}/env.conf; set +o allexport;\
    . "${RS_PRJ_VENV}"/bin/activate;\
    uwsgi --ini "${RS_PRJ_CONF}"/uwsgi.ini;\
'
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
